@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");
h1 {
  font-family: "Arima Madurai", cursive;
  color: black;
  font-size: 4rem;
  letter-spacing: -3px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 3;
}
.intro_section {
  background-color: rgb(235, 247, 255);
}
.introduction {
  padding: 50px;
  height: auto;
}
.highlight {
  color: blueviolet;
}
.mountain {}